fastapi
uvicorn[standard]
firebase-admin
motor
python-dotenv
pydantic>=2.0.0
pydantic-settings
groq
gunicorn
pymongo
python-multipart
slowapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
cloudinary
reportlab
pillow
qrcode[pil]
